html, body {
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #121212;
    color: rgba(255,255,255, 0.87);
}

#app {
    height: 100vh;
}

.status-bar-safe-area {
    display: none;
}

.mud-main-content {
    background-color: #121212;
}

#blazor-error-ui {
    background: #d32f2f;
    bottom: 0;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.3);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
    color: white;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}
